@import "tailwindcss";

@theme inline {
  --font-poppins: var(--font-poppins-family);
}

.player-layout {
  grid-template-areas:
    "video"
    "details"
    "materials"
    "topics"
    "comments";
}

.player-video-area {
  grid-area: video;
}
.player-details-area {
  grid-area: details;
}
.player-materials-area {
  grid-area: materials;
}
.player-topics-area {
  grid-area: topics;
}
.player-comments-area {
  grid-area: comments;
}

@media (min-width: 768px) {
  .player-layout {
    grid-template-areas:
      "video topics"
      "details topics"
      "materials topics"
      "comments topics";
  }
}
